<template>
  <header>
    <div class="header-main">
      <div class="header-main__block" style="flex: 0.5">
        <a class="sandwich" @click.prevent="openMenu" href="#">=</a>
        <ul class="header-menu">
          <nuxt-link to="/"><li class="header-menu__item">ГЛАВНАЯ</li></nuxt-link>
          <nuxt-link :to="{name: 'services'}"><li class="header-menu__item">УСЛУГИ</li></nuxt-link>
          <nuxt-link :to="{name: 'articles'}"><li class="header-menu__item">СТАТЬИ</li></nuxt-link>
        </ul>
      </div>
      <div class="header-main__block">

      </div>
    </div>
    <div class="height-fixer">

    </div>
  </header>
</template>

<script>


export default {
  name: 'TempHeader',
  data () {
    return {
      menuVisible: false,
    }
  },
  methods: {
    openMenu (e) {
      const menu = document.querySelector('.header-menu');
      if(this.menuVisible){
        // menu.style.visibility = 'hidden';
        menu.style.transform = 'scaleX(0)'
        this.menuVisible = false;
      } else {
        // menu.style.visibility = 'visible';
        menu.style.transform = 'scaleX(1)'
        this.menuVisible = true;
      }
    }
  }
}
</script>

<style media="screen" scoped>
  header {
    z-index: 100;
  }
  .header-main {
    background: #2c3852;
    display: flex;
    height: 40px;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.75);
    z-index: 100;
  }
  .sandwich {
    display: none;
  }
  .header-main__block {
    flex: 1 1 auto;
  }
  .header-menu {
    margin: 6px 0 0 0;
    list-style: none;
    display: flex;
    height: 28px;
    padding: 0;
    justify-content: space-around;
    transition: all .5s;
  }
  .header-menu__item {
    width: 120px;
    cursor: pointer;
    line-height: 29px;
    text-align: center;
    color: #e6e8e4;
    background: transparent;
    transition: all 1s
  }
  .header-menu__item:hover {
    background: white;
    color: #2c3852;
    opacity: .3;

  }
  .icon-home {
    background-image: url(~assets/icons/home.png);
    background-position: center center;
    background-size: 23px 23px;
    background-repeat: no-repeat;
  }
  a {
     text-decoration: none;
     color: white;
  }
  .height-fixer {
    height: 40px;
  }
  @media screen and (max-width:900px) {
    .header-menu {
      flex-direction: column;
      height: auto;
      background: #2c3852;
      transform: scaleX(0);
      transform-origin: left;
      margin: 0;
    }
    .header-menu__item {
      margin: auto;
    }
    .sandwich {
      display: block;
      color: white;
      font-size: 3rem;
      margin-left: 15px;
      line-height: 2.5rem;
    }
  }
</style>
