<template lang="html">
  <section>
    <TempHeader/>
    <div class="container">
      <div class="content">
      <div class="image-container">
        <a class='go-back' @click.prevent="goBack"><img src="~/assets/icons/arrow-left.png" alt="назад"></a>
        <img class="article-image" :src="article.image" alt=""/>
        <div class="inner-container">
          <h1 class="article-header">{{article.headline}}</h1>
        </div>
      </div>

      <div class="article-content" v-html="article.content"></div>
      <p v-if="article.tags.length > 0" class="article-tags"><nuxt-link
          v-for="(tag, index) in article.tags"
          :key="index"
          :to="{name: 'articles-tag-tag', params: {tag: tag}}"
          >
          #{{tag}}&nbsp;
        </nuxt-link>
      </p>
    </div>
    </div>
    <Footer/>
    <ScrollTop/>
    <Share/>
  </section>
</template>

<script>
import Footer from '~/components/footer/Footer'
import TempHeader from "~/components/header/TempHeader";
import { baseUrl, API } from '~/store/api';
import BlockNews from "~/components/main/blocks/BlockLatestNews";
import ScrollTop from "~/components/ScrollTop";
import Share from "~/components/Share";
import vkbtn from "~/assets/icons/vk.png"
export default {
  head () {
    return {
      title: this.article.headline,
      meta: [
        { hid: 'description', name: 'description', content: this.article.content.slice(0, 100) },
        { hid: 'description', name: 'description', content: this.article.content.slice(0, 100) },
        {
         'name': 'og:title',
         'property': 'og:title',
         'content': this.article.headline,
        },
        {
         'name': 'og:url',
         'property': 'og:url',
         'content': baseUrl + this.$route.fullPath,
        },
        {
         'name': 'og:description',
         'property': 'og:description',
         'content': this.article.content.slice(0, 80),
        },
        {
         'name': 'og:image',
         'property': 'og:image',
         'content': this.article.image,
        },
      ]
    }
  },
  components: {
    TempHeader,
    BlockNews,
    Footer,
    ScrollTop,
    Share
  },
  asyncData ({ store, params }) {
    return API.get('articles/' + params.slug + '/')
    .then((data) => {
      return {
       article: data,
      }
    })
  },
  mounted () {
    let fb = document.getElementsByClassName('fb-share_btn')[0]
    fb.firstChild.setAttribute('href', 'https://www.facebook.com/dialog/share?' +
      'app_id=225232391613306' +
      '&display=popup' +
      '&href=' + baseUrl + this.$route.fullPath + '&redirect_uri=' + baseUrl + this.$route.fullPath)
    fb.firstChild.setAttribute('target', '_blank')

    let button = VK.Share.button({
      url: baseUrl + this.$route.fullPath
    },  {type: 'custom', text: '<img style="width:50px;" src=' + vkbtn + ' />'});
    document.querySelector('.vk-share_btn').innerHTML = button;
  },
  data () {
    return {
      article: {
        id: 0,
        headline: '',
        content: '',
        slug: '',
        sections: 0,
        image: ''
      },
    }
  },
  methods: {
    goBack () {
      window.history.length > 1
        ? this.$router.go(-1)
        : this.$router.push('/')
    }
  }
}
</script>

<style lang="css">
  .go-back {
    width: 60px;
    height: 95px;
    cursor: pointer;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    position: absolute;
    -ms-flex-align: center;
    align-items: center;
    z-index: 90;
    left: -93px;
  }
  .go-back img {
    width: 60px;
    opacity: .6;
  }
  .go-back img:hover {
    opacity: 1;
  }
  .content {
    background: white;
  }
  .article-content {
    padding: 20px 30px 30px 50px;
  }
  .image-container {
    position: relative;
  }
  .article-content blockquote {
    font-style: oblique;
    position: relative;
    margin-left: 35px;
  }
  .article-content blockquote:before {
    content: '';
    width: 5px;
    height: 100%;
    background: #7f87a0;
    position: absolute;
    left: -10px;
  }
  .inner-container {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    padding: 100px;
  }
  .article-image {
    width: 100%;
  }
  .article-header {
    color: white;
    font-size: 2rem;
  }
  .article-tags {
    padding: 20px;
  }
  @media screen and (max-width: 900px) {
    .inner-container {
      padding: 10px;
      padding-left: 70px;
    }
    .article-header {
      font-size: 1.7rem;
    }
    .go-back {
      left: 0;
      filter: drop-shadow(1px 1px 2px grey);
    }
    .go-back img {
      opacity: .8;
    }
  }
</style>
