<template lang="html">
<div class="">
  <TempHeader/>
  <section class="section-block">
    <h1>Статьи</h1>
    <div>
      <BlockNews page='articles' :articles="articles" show-header=false show-tags=true />
    </div>
  </section>
  <Footer />
</div>
</template>

<script>
import Footer from '~/components/footer/Footer'
import TempHeader from "~/components/header/TempHeader";
import { baseUrl, API } from '~/store/api';
import BlockNews from "~/components/main/blocks/BlockLatestNews";

export default {
  head () {
    return {
      title: "Юридическое агентство Олега Крупкина - статьи",
      meta: [
        { hid: 'description', name: 'description', content: 'Юридические консультации, юрист в г. Геленджике и Краснодарском крае: помощь бизнесу, семейные споры, наследство, страхование, регистрация ООО, ИП' }
      ]
    }
  },
  components: {
    TempHeader,
    BlockNews,
    Footer
  },
  async asyncData ({ store, params }) {
    return API.get('articles/')
    .then((data) => {
      return {
       articles: data,
      }
    })
  },
  data () {
    return {
      articles: [{
        id: 0,
        headline: '',
        content: '',
        slug: '',
        sections: 0,
        image: ''
      }]
    }
  }
}
</script>

<style lang="css" scoped>
  .section-block {
    background: white;
    padding-top: 20px;
    min-height: 800px;
  }
  .section-block h1 {
    text-align: center;
  }
</style>
