<template lang="html">
  <div class="">

    <TempHeader/>
    <section class="service container">
      <div class="service-header">
          <div class="service-img">
            <img :src="service.icon" alt=""/>
          </div>
          <h1>{{service.name}}</h1>
      </div>
      <div class="service-description" v-html="service.description"></div>
      <hr/>
      <div class="telegram-form">
        <div class="row">
          <div class="col-md-12">
            <h3>Закажите бесплатную консультацию по данной услуге</h3>
            <p style="color: grey;">Сообщение о том, что Вы хотите получить бесплатную консультацию придет Олегу Крупкину в Telegram-чат. Это позволит оперативно ответить на заявку.</p>
          </div>
        </div>
        <span style='color: red;'>{{errormes}}</span>
        <div class="row">
          <div class="col-md-12">
            <div class="input-field">
              <label for="phonecallfield">№ телефона:<span class="require-input">*</span></label><br/>
              <input class="modal-call-input" id="phonecallfield"
                required
                type="text"
                v-mask="'+7(###)###-####'"
                v-model="phone"
                placeholder="+7(___)___-____"
            >
            </div>
          </div>
        </div>
        <b-alert
        :show="dismissCountDown"
         fade
         dismissible
         variant="success"
         @dismissed="dismissCountDown=0"
         @dismiss-count-down="countDownChanged">Ваше сообщение успешно отправлено!</b-alert>
        <div class="buttons">
          <b-btn size="sm" class="float-left" variant="outline-success" @click="handleOk">
            Отправить
          </b-btn>
        </div>
      </div>
      <hr/>
      <div v-if="this.articles">
        <h3>Статьи по теме:</h3>
        <BlockNews show-tags=true show-header=false v-bind:articles="this.articles" />
      </div>
    </section>
    <Footer />
    <ScrollTop/>
  </div>
</template>

<script>
import Footer from '~/components/footer/Footer'
import TempHeader from "~/components/header/TempHeader";
import BlockNews from "~/components/main/blocks/BlockLatestNews";
import { baseUrl, API } from '../../store/api';
import ScrollTop from "~/components/ScrollTop";

export default {
  head () {
    return {
      title: this.service.name,
      meta: [
        { hid: 'description', name: 'description', content: this.service.short_description }
      ]
    }
  },
  components: {
    TempHeader,
    BlockNews,
    Footer,
    ScrollTop
  },
  asyncData({ params }) {
    const [slug, id]  = params.slugid.split("&")
    return API.get('articles/sections/' + id + '/')
    .then((data) => {
      console.log(data)
      return { service: data.section, articles: data.articles }})
  },
  data () {
    return {
      service: {
        id: 0,
        name: '',
        short_description: '',
        description: ''
      },
      articles: [{
        id: 0,
        headline: '',
        content: '',
        slug: '',
        sections: 0,
        image: ''
      }],
      errormes: '',
      phone: '',
      name: '',
      wantchat: 'dont-want',
      question: '',
      city: '',
      dismissSecs: 5,
      dismissCountDown: 0
    }
  },
  methods: {
    handleOk (evt) {
      let me = this;
      if (!this.phone) {
        this.errormes = 'Введите номер телефона'
      } else {
        this.errormes = ''
        API.post('articles/question/', JSON.stringify({
          phone: this.phone
        }))
        .then((res) => {
          me.showAlert()
        })
      }
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    }
  },

}
</script>

<style lang="css">
  .mb-2 {
    min-height: 340px;
  }
  .service {
    background: white;
    margin-top: 40px;
    border-radius: 5px;
  }
  .service-header {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .service-img {
    min-width: 70px;
    width: 70px;
    height: 70px;
    background: #2d3851;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-img img {
    width: 60%;
  }
  .service-description {
    padding: 20px;
  }
  .service-description blockquote {
    font-style: oblique;
    position: relative;
    margin-left: 35px;
  }
  .service-description blockquote:before {
    content: '';
    width: 5px;
    height: 100%;
    background: #7f87a0;
    position: absolute;
    left: -10px;
  }
  .input-field {
    margin-bottom: 10px;
  }
  .require-input {
    color: red;
  }
  .service h1, h3 {
    padding: 10px;
    color: #7f87a0;
    margin: 0;
    font-variant: petite-caps;
  }
  .telegram-form {
    padding: 10px;
  }
  .buttons {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 900px) {
    .service-header h1 {
      font-size: 1.5rem;
    }
  }
</style>
