<template lang="html">
<div>
  <TempHeader/>
  <div class="blc">
    <section class='services'>
      <article v-for="(service, index) in this.services" :key="index" class="service-block">
          <div class="service-header">
            <div class="service-icon-block">
              <div
              :style="getIconStyle(service.icon)"
              class="service-icon">
              </div>
            </div>
            <h3>{{service.name}}</h3>
          </div>
          <div class="service-desc">
            {{ service.short_description }}
            <nuxt-link :to="'/services/' + service.name.split(' ').join('-') + '&' + service.id">Подробнее...</nuxt-link>
          </div>
      </article>
    </section>
  </div>
  <Footer />
</div>
</template>

<script>
import Footer from '~/components/footer/Footer'
import TempHeader from "~/components/header/TempHeader";
import { baseUrl, API } from '../../store/api'
export default {
  head () {
    return {
      title: 'Юридическое агентство Олега Крупкина - услуги',
      meta: [
        { hid: 'description', name: 'description', content: 'Юридические консультации, юрист в г. Геленджике и Краснодарском крае: помощь бизнесу, семейные споры, наследство, страхование, регистрация ООО, ИП' }
      ]
    }
  },
  components: {
    TempHeader,
    Footer
  },
  async asyncData ({ store, params }) {
    return API.get('articles/sections/')
    .then((data) => {return { services: data }})
  },
  data () {
    return {
      services: [{
        name: '',
        id: 0,
        short_description: '',
        icon: ''
      }],
    }
  },
  methods: {
    getIconStyle (icon) {
      return "background-image: url(" + baseUrl + icon + "); background-position: center center;"
    }
  }
}
</script>

<style lang="css" scoped>
  .blc {
    padding: 20px;
  }
  .services {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 40px;
  }
  .service-block {
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    height: 112px;
  }
  .service-icon-block {
    display: flex;
    background: grey;
    min-width: 74px;
    min-height: 74px;
    width: 74px;
    height: 74px;
    border-radius: 37px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .service-header {
    display: flex;
    align-items: center;
  }
  .service-header h3{
    font-family: pt-regular;
  }
  .service-icon {
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
  }
  .service-desc {
    padding: 10px;
    min-width: 55%;
    width: 55%;
  }
  @media screen and (max-width: 900px) {
    .service-header h3 {
      font-size: 1.2rem;
    }
    .service-block {
      flex-direction: column;
      height: auto;
    }
    .service-desc {
      width: 100%;
    }
    .services {
      padding: 0 20px;
    }
  }
</style>
