<template>
  <div class="application">
    <h1>Политика конфиденциальности</h1>
  </div>
</template>

<script>

// import axios from 'axios';
export default {
  head () {
    return {
      title: 'Политика конфиденциальности',
      meta: [
        { hid: 'description', name: 'description', content: 'Юридические консультации, юрист в г. Геленджике и Краснодарском крае: помощь бизнесу, семейные споры, наследство, страхование, регистрация ООО, ИП' }
      ]
    }
  },
}
</script>

<style>
</style>
