<template>
  <section class="row block-services">
    <ul class="main-services-menu">
      <Service
        v-for="(service, index) in sections"
        :key="index"
        :name="service.name"
        :icon-class="service.icon"
        :desc="service.short_description"
        :link="service.name.split(' ').join('-') + '&' + service.id" />
    </ul>
  </section>
</template>

<script>
  import Service from './Service';

  export default {
    name: "BlockServices",
    props: ['sections'],
    components: {
      Service
    }
  }
</script>

<style media="screen" scoped>
    .block-services {
      flex: 0.2;
      background: #94969a;
    }
    .main-services-menu {
      max-width: 820px;
      margin: 10px auto;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    @media screen and (max-width: 1000px) {
      .main-services-menu {
        flex-direction: column;
      }
    }
</style>
