<template lang="html">

  <li
    v-b-tooltip.hover :title="this.desc"
    @mouseenter="menuItemHover"
    @mouseleave="menuItemInactive"
    class="main-services-menu__item">
    <nuxt-link style="color: black" :to="'services/' + link">
    <span class="pointer"></span>
    <div class="service-icon"
      :style="this.backUrl">
    </div>
    <div class="service-description">
      <span>{{ name }}</span>
    </div>
    </nuxt-link>
  </li>

</template>

<script>
import { baseUrl } from "~/store/api"
export default {
  name: "Service",
  props: ['name', 'icon-class', 'desc', 'link'],
  computed: {
    backUrl () {
      return "background-image: url(" + baseUrl + this.iconClass + "); background-position: center 15px;"
    }
  },
  methods: {

    menuItemHover (e) {
      let pointer = e.target.getElementsByClassName('pointer')[0];
      pointer.className = "pointer active"
    },

    menuItemInactive (e) {
      let pointer = e.target.getElementsByClassName('pointer')[0];
      pointer.className = "pointer"
    }

  }
}
</script>

<style lang="css" scoped>
  .government {
    background-image: url(~assets/icons/icon_gosudarstvo.png);
    background-position: center 11px;
  }
  .realty {
    background-image: url(~assets/icons/icon_nedvizhimost.png);
    background-position: center 15px;
  }
  .taxes {
    background-image: url(~assets/icons/icon_nalogi.png);
    background-position: center 14px;
  }
  .inheritance {
    background-image: url(~assets/icons/icon_nasledstvo.png);
    background-position: center 11px;
  }
  .payments {
    background-image: url(~assets/icons/icon_dolgi.png);
    background-position: center 14px;
  }
  .service-description {
    padding: 5px;
    height: 41%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-services-menu__item {
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    width: 150px;
    background: white;
    text-align: center;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
    transition: box-shadow 0.5s;
    margin: 0 5px;
  }
  .main-services-menu__item:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }
  .main-services-menu__item:hover .service-icon{
      animation: bounding .3s ease-in-out;
  }
  .main-services-menu__item:hover .service-icon {
    background-color: #2d3851;
  }
  .service-icon {
    margin: 15px auto 0 auto;
    background-color: rgb(53, 53, 53);
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-repeat: no-repeat;
    background-size: 40px;
    transition: background-color .5s;
  }
  .pointer {
    display: block;
    position: absolute;
    width: 1px;
    height: 25px;
    background: grey;
    left: 50%;
    top: -10px;
    transition: height 0.5s;
  }
  .pointer.active {
    height: 10px;
  }
  @media screen and (max-width: 1000px) {
    .pointer {
      display: none;
    }
    .main-services-menu__item {
      width: 95%;
      margin: 1px auto;
    }
    .main-services-menu__item a {
      display: flex;
      align-items: center;
    }
    .service-icon {
      margin: 5px;
    }
    .service-description {
      width: 70%;
    }
  }
</style>
