body {
  color: #313030;
  background: black;
  font-family: pt-regular, Lucida Grande, sans-serif;
  font-size: 16px;
}

.font-reg-sm {
  font-family: pt-regular, Lucida Grande, sans-serif;
  font-size: 0.8rem;
}

.font-header {
  font-family: pt-bold, Lucida Grande, sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.font-subheader {
  color: #777777;
  font-family: pt-regular, Lucida Grande, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

.font-italic {
  color: #777777;
  font-family: pt-italic, Times New Roman, serif;
}
