<template lang="html">
  <div class="loading-page" v-if="loading">

  </div>
</template>

<script>
export default {
  data: () => ({
    loading: false
  }),
  methods: {
    start () {
      this.loading = true
    },
    finish () {
      this.loading = false
    },
    increase(num) {
      console.log(num)
    }
  }
}
</script>

<style scoped>
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  z-index: 1000;
  background-image: url('~/assets/icons/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
}
</style>
