<template lang="html">
  <a id="top-arrow" class='go-top' style="visibility: hidden;" @click.prevent="goTop">
    <img src="~/assets/icons/arrow-left.png" alt="наверх">
  </a>
</template>

<script>
export default {
  methods: {
    goTop () {
      window.scrollTo(0, 0);
    }
  },
  mounted () {
    let arrow = document.querySelector("#top-arrow");
    window.addEventListener('scroll', function(){
      if(parseInt(window.scrollY) > 700){
        arrow.style.visibility = 'visible';
      } else {
        arrow.style.visibility = 'hidden';
      }
    });
  }
}
</script>

<style lang="css">
.go-top {
  position: fixed;
  z-index: 100;
  right: 45px;
  bottom: 100px;
  width: 50px;
  height: 50px;
}
.go-top img {
  width: 70px;
  transform: rotate( 90deg );
}
@media screen and (max-width: 900px) {
  .go-top {
    display: none;
  }
}
</style>
