<template lang="html">
  <div class="swin">
    <p>{{name}}</p>
    <span v-if="sex=='female'">только что заказал(а) бесплатную консультацию</span>
  </div>
</template>

<script>
export default {
  data () {
    return {
      name: '',
      nameList: [
          'Маргарита Павловна, геленджик',
          'олег, г. Краснодар',
          'Александр, г.Геленджик',
          'Мария, Новая адыгея'
      ],
      mounted () {

      }
    }
  }
}
</script>

<style lang="css" scoped>
  .swin {
    position: fixed;
    width: 200px;
    height: 100px;
    background: white;
  }
</style>
