<template lang="html">
  <div class="share">
    <p class="vk-share_btn"><img :src="this.vkButton" alt="vk"></p>
    <p class="fb-share_btn"><a href="#"><img :src="this.fbButton" alt="facebook"></a></p>
  </div>
</template>

<script>
import fbbtn from '~/assets/icons/fb.png'
import vkbtn from '~/assets/icons/vk.png'
import shareBtn from '~/assets/icons/share.png'
export default {
  data () {
    return {
      fbButton: fbbtn,
      vkButton: vkbtn,
      shareBtn
    }
  },
  mounted () {
       window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  }
}

</script>

<style lang="css" scoped>
.share {
  position: fixed;
  top: 160px;
  left: 26px;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}
.share-button img{
  width: 30px!important;
  height: 30px;
  margin: 7px 0;
}
.vk-share_btn {
  cursor: pointer;
  text-align: center;
}
.fb-share_btn {
  cursor: pointer;
  text-align: center;
}
.vk-share_btn img {
  width: 50px;
}
.fb-share_btn img {
  width: 48px;
}
p {
  margin: 0;
}
@media screen and (max-width: 900px) {
  .share {
    top: auto;
    bottom: 130px;
    border-radius: 0 0 5px 5px;
    left: auto;
    right: 20px;
    align-items: center;
  }
  .share-button img{
    margin: 0 7px;
  }
}
</style>
