@keyframes bounding {
  from {transform: scale(1, 1)}
  50% {transform: scale(0.9, 0.9)}
  to {transform: scale(1, 1)}
}
@keyframes from-bottom {
  0%{
      position: relative;
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      position: relative;
      transform: translateY(0px);
      opacity: 1;
  }
}
@keyframes from-left {
  0%{
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
  }
  100%{
    position: relative;
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes from-right {
  0%{
    position: relative;
    transform: translateX(50px);
    opacity: 0;
  }
  100%{
    position: relative;
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fade-in-blink {
  0%{
    opacity: 0;
    background: transparent;
  }
  100%{
    opacity: 1;
    background: rgba(193, 173, 137, 0.5);
  }
}
