html, body {
  width: 100%;
  height: 100%;
}
body {
  color: #313030;
  background: url('../img/background.jpg');
  font-family: pt-regular, Lucida Grande, sans-serif;
  font-size: 16px;
}
.card {
  border: none;
}
.font-reg-sm {
  font-family: pt-regular, Lucida Grande, sans-serif;
  font-size: 0.8rem;
}

.font-header {
  font-family: pt-bold, Lucida Grande, sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.font-subheader{
  color: #777777;
  font-family: pt-regular, Lucida Grande, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

.font-italic {
  color: #777777;
  font-family: pt-italic, Times New Roman, serif;
}
.header-animation {
  animation: from-bottom 1s;
}
.animation-from-left {
  animation: from-left 1s;
}
.animation-from-right {
  animation: from-right 1s;
}
.animation-fade-blink {
  animation: fade-in-blink 1s;
}
.anim-delay {
  animation-delay: .5s;
}
.anim-delay-second {
  animation-delay: 1s;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
