@font-face {
 font-family: pt-regular;
 src: url(./PT_Sans/PT_Sans-Web-Regular.ttf);
}
@font-face {
 font-family: pt-bold;
 src: url(./PT_Sans/PT_Sans-Web-Bold.ttf);
}
@font-face {
 font-family: pt-italic;
 src: url(./PT_Sans/PT_Sans-Web-Italic.ttf);
}
@font-face {
 font-family: pt-bold-italic;
 src: url(./PT_Sans/PT_Sans-Web-BoldItalic.ttf);
}
