<template lang="html">
  <footer class="ok-footer">
  <div itemscope itemtype="http://schema.org/Organization" class="contacts">
     <span itemprop="name" class="company">Юридическое агентство Олега Крупкина</span>
     <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address">
       <span itemprop="addressLocality">Россия, Краснодарский край, г. Геленджик</span>
     </div>
     Телефон: <span itemprop="telephone">+7 (918) 090-02-80</span>
  </div>
  <div class="copyrights">
    © 2018 lizart.studio
  </div>
  </footer>
</template>

<script>
export default {
}
</script>

<style lang="css">
.ok-footer {
  margin-top: 20px;
  background: #2d3851;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  padding: 5px 20px;
  position: relative;
}
.copyrights {
  display: flex;
  align-items: center;
  padding: 20px;
}
</style>
