<template lang="html">
  <div style="color: #007bff;">
    выберите тег
    <nuxt-link to="/">На главную</nuxt-link>
  </div>
</template>

<script>
import Footer from '~/components/footer/Footer'
export default {
}
</script>

<style lang="css">
</style>
