<template lang="html">
  <article class="main-promo">
    <div class="company-name">
      <div class="company-name__left">
        <h1 class="main-logo-h1"
          :class="{ 'animation-from-left': visible, 'hidden': !visible }">Юридическое агентство</h1>
        <h2 class="main-logo-h2"
          :class="{ 'animation-from-left anim-delay': visible, 'hidden': !delayOff }">
          Олега Крупкина</h2>
      </div>
      <div class="company-name__right">
        <span class="main-logo-h1 desc desc-h1"
          :class="{ 'animation-from-right': visible, 'hidden': !visible }">
          90% выигранных дел</span>
        <span class="main-logo-h2 desc desc-h2"
          :class="{ 'animation-from-right anim-delay': visible, 'hidden': !delayOff }">
          <a href="https://rospravosudie.com/act-%D0%BA%D1%80%D1%83%D0%BF%D0%BA%D0%B8%D0%BD+%D0%BE.%D0%B3.-q/lawyer-krupkin-o-g-s/etapd-pervaya-instanciya/vidpr-arbitrazh/section-acts/" target="_blank">По данным РосПравосудия</a></span>
      </div>
    </div>
    <div class="main-button-block">
      <div class="input-field">
        <div style='color: red;'>{{errormes}}</div>
        <input class="modal-call-input" id="phonecallfield"
          required
          type="text"
          v-mask="'+7(###)###-####'"
          v-model="phone"
          placeholder="+7(___)___-____"
        >
      </div>
      <div>
      <button @click="handleOk" @mousemove="btnGradientMove" class="main-button" type="button" name="button"
        :class="{ 'animation-fade-blink anim-delay-second': visible, 'hidden': !delay2Off }">
        <span>Записаться на консультацию</span>
      </button>
      </div>
    </div>
    <div class="main-button-description">
      <span class="font-reg-sm">При записи через сайт действует скидка</span>
    </div>
    <CallWindow ref="dialogMainModal"/>
    <b-alert
      :show="dismissCountDown"
       fade
       dismissible
       variant="success"
       @dismissed="dismissCountDown=0"
       @dismiss-count-down="countDownChanged">Ваше сообщение успешно отправлено!</b-alert>
  </article>
</template>

<script>
import CallWindow from '~/components/callutils/CallWindow'
import {baseUrl, API} from '~/store/api'

export default {
  name: 'MainPromo',
  props: ['visible'],
  components: {
    CallWindow
  },
  data () {
    return {
      delayOff: false,
      delay2Off: false,
      errormes: '',
      phone: '',
      dismissSecs: 5,
      dismissCountDown: 0
    }
  },
  watch: {
    visible (current, last) {
      if(current) {
        this.makeAnimation()
      }
    }
  },
  mounted () {
    this.makeAnimation()
  },
  methods: {
    makeAnimation  () {
        this.delayOff = false;
        setTimeout(() => {
          this.delayOff = true;
        }, 500)
        setTimeout(() => {
          this.delay2Off = true;
        }, 1000)
    },
    btnGradientMove (e) {
      var btn = e.target;
      var x = e.pageX - btn.offsetLeft;
      var y = e.pageY - btn.offsetTop;
      btn.style.setProperty('--x', x + 'px');
      btn.style.setProperty('--y', y + 'px');
    },

    toggleWindow () {
      this.$refs.dialogMainModal.$children[0].show();
    },
    handleOk (evt) {
      // Prevent modal from closing
      evt.preventDefault()
      if (!this.phone) {
        this.errormes = 'Введите номер телефона'
      } else {
        this.errormes = ''

        let me = this;
        API.post('articles/question/', JSON.stringify({
          phone: this.phone
        }))
        .then((res) => {
          me.showAlert()
        })
      }
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
  }
}
</script>

<style lang="css" scoped>
  .main-promo {
    flex: 0.3;
  }
  .main-logo-h1 {
    color: #e6e8f1;
    font-size: 1.4rem;
    font-weight: normal;
  }
  .main-logo-h2 {
    color: #7f87a0;
    font-size: 2.4rem;
    font-family: pt-bold;
  }
  .company-name {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
  }
  .company-name__left {
    margin-left: 9%;
    text-align: right;
  }
  .company-name__right {
    margin-top: 50px;
    margin-right: 9%;
  }
  .desc {
    display: block;
  }
  .desc-h2 {
    font-size: 1.2rem;
    text-decoration: underline;
  }
  .desc-h2 a {
    text-decoration: none;
    color: #7f87a0;
  }
  .input-field {
    width: 90%;
    max-width: 200px;
  }
  .main-button-block {
    margin: 50px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-button {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid white;
    background: rgba(193, 173, 137, 0.5);
    padding: 10px 30px;
    font-family: pt-regular;
    font-size: 1.2rem;
    color: white;
    text-decoration: underline;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: 0.5s;
  }
  .main-button:hover {
    color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  .main-button:hover span {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  }
  .main-button::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, white, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }
  .main-button:hover::before {
    --size: 200px;
  }
  .main-button-description {
    color: white;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-button-description span {
    color: rgba(255, 255, 255, 0.5);
  }
  .modal-call-input {
    width: 100%;
    border: none;
    outline: none;
    background-color:rgba(255, 255, 255, 0.9);
    padding: 10px;
  }
  @media screen and (max-width:900px) {
    .company-name {
      margin-top: 250px;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.3);
      padding: 7px;
    }
    .company-name__left {
      margin-left: 5px;
      text-align: left;
    }
    .company-name__right {
      margin-top: 20px;
      margin-right: 0;
      margin-left: 5px;
    }
    .main-button-block {
      margin-top: 20px;
    }
    .main-logo-h2{
      color: white;
    }
    .desc-h2 a {
      color: white;
    }
  }
  @media screen and (min-width: 490px) and (max-width: 900px) {
    .company-name__left {
      margin-left: 60px;
      text-align: left;
    }
    .company-name__right {
      margin-top: 20px;
      margin-right: 0;
      margin-left: 60px;
    }
  }
</style>
