<template lang="html">
  <article class="main-toolbar">
    <div class="main-toolbar__block">
      <div class="main-phone">
        <a class="phone-number" href="tel:+79180900280">
          +7 (918) 090-02-80
        </a>
      </div>
    </div>
    <div class="main-toolbar__block">
      <ul class="soc-icons">
        <a target="_blank" href="https://ru-ru.facebook.com/krupkin.oleg"><li class="soc-icon facebook"></li></a>
        <a target="_blank" href="https://vk.com/krupkin.oleg"> <li class="soc-icon vk"></li></a>
        <a target="_blank" href="https://www.instagram.com/oleg.krupkin/"> <li class="soc-icon instagram"></li></a>
      </ul>
    </div>
  </article>
</template>

<style lang="css" media="screen" scoped>
  .main-toolbar {
    flex: 0.1;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
  }
  .main-phone{
    display: flex;
    height: 100%;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
  .phone-number {
    color: #d5d7e0;
  }
  .soc-icons {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 150px;
    margin-right: 100px;
  }
  .facebook {
    background: url(~assets/icons/facebook.svg);
  }
  .vk {
    background: url(~assets/icons/vk2.svg);
  }
  .instagram {
    background: url(~assets/icons/insta.svg);
  }
  .soc-icon {
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    transition: all 0.5s;
    border-radius: 18px
  }
  .soc-icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  @media screen and (max-width: 900px) {
    .main-phone {
      margin-left: 5px;
      font-size: 1.1rem;
    }
    .soc-icons {
      margin-right: 5px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 370px) {
    .main-phone {
      font-size: .9rem;
    }
  }
</style>
