<template>
  <div class="application">
    <div class="loader">

    </div>
    <TempHeader/>
    <main class="container">
      <BlockMain
        @scrollChanged="onScrollChanged"
        :comp-class="this.componentsClasses.main"
        :visible-block="this.visibleComponents"
        :scroll="this.scroll"
        v-bind:sections="this.sections"
         />
      <BlockDescription
        :comp-class="this.componentsClasses.description"
        :visible-block="this.visibleComponents"
        :scroll="this.scroll"
        v-bind:text="config.description"
        v-bind:quote="config.blockquote"
        />
      <BlockLatestNews
        :comp-class="this.componentsClasses.lnews"
        :visible-block="this.visibleComponents"
        :scroll="this.scroll"
        :articles="this.articles" />
      <BlockRegards
        :comp-class="this.componentsClasses.regards"
        :visible-block="this.visibleComponents"
        :scroll="this.scroll"
        v-bind:regards="regards"
        />
      <BlockReviews
        :comp-class="this.componentsClasses.reviews"
        :visible-block="this.visibleComponents"
        :scroll="this.scroll"
        v-bind:reviews="reviews" />
    </main>
    <Footer/>
  </div>
</template>

<script>
import Footer from '~/components/footer/Footer'
import TempHeader from '~/components/header/TempHeader.vue';
import BlockMain from '~/components/main/blocks/BlockMain.vue';
import BlockDescription from '~/components/main/blocks/BlockDescription.vue';
import BlockLatestNews from '~/components/main/blocks/BlockLatestNews.vue';
import BlockRegards from '~/components/main/blocks/BlockRegards.vue';
import BlockReviews from '~/components/main/blocks/BlockReviews.vue';
import SecretWindow from '~/components/SecretWindow';
import { baseUrl, API } from '../store/api'
// import axios from 'axios';
export default {
  head () {
    return {
      title: 'Юридическое агентство Олега Крупкина - главная',
      meta: [
        { hid: 'description', name: 'description', content: 'Юридические консультации, юрист в г. Геленджике и Краснодарском крае: помощь бизнесу, семейные споры, наследство, страхование, регистрация ООО, ИП' }
      ]
    }
  },
  async asyncData ({ store, params }) {
    let section_data,
        articles_data,
        regards_data,
        reviews_data,
        config_data;
    return API.get('articles/sections/')
    .then((sect_data) => {
      section_data = sect_data
            return API.get('articles/config/')
            .then((conf_data) => {
              config_data = conf_data
              return {
               sections: section_data,
               articles: articles_data,
               reviews: reviews_data,
               regards: regards_data,
               config: config_data,
              }
            })


    })
  },
  data () {
    return {
      componentsClasses: {
        main: 'main-view',
        lnews: 'lnews',
        description: 'main-description',
        regards: 'regards',
        reviews: 'reviews',
      },
      sections: [{
        name: '',
        id: 0,
        short_description: '',
        icon: ''
      }],
      articles: [{
        id: 0,
        headline: '',
        content: '',
        slug: '',
        sections: 0,
        image: ''
      }],
      regards: [{
        id: 0,
        image: '',
        name: '',
        date: '',
        description: ''
      }],
      reviews: [{
        id: 0,
        avatar: '',
        text: '',
        name: ''
      }],
      visibleComponents: [],
      config: {
        description: '',
        blockquote: '',
      },
      scroll: 0,
    }
  },
  components: {
    TempHeader,
    BlockMain,
    BlockDescription,
    BlockLatestNews,
    BlockReviews,
    BlockRegards,
    SecretWindow,
    Footer
  },
  mounted () {
    let me = this;
    API.get('articles/6')
    .then((art_data) => {
      me.articles = art_data;
      API.get('articles/regards/')
      .then((reg_data) => {
        me.regards = reg_data
        API.get('articles/reviews/')
        .then((rev_data) => {
          me.reviews = rev_data
        })
      })
    })
    this.$moment.locale('ru');
  },
  methods: {
    onScrollChanged (e) {
      this.scroll = e;
      if(!e%200) return;
      const me = this;
      const bodyHeight = document.documentElement.clientHeight;
      const visibleComponents = [];
      Object.keys(this.componentsClasses).forEach(function(sectionName) {
        const section = document.getElementsByClassName(me.componentsClasses[sectionName]),
              sectionRect = section[0].getBoundingClientRect();
        if ((sectionRect.top < bodyHeight) && !(sectionRect.bottom < 0)) {
          visibleComponents.push(me.componentsClasses[sectionName]);
        }
      })
      me.visibleComponents = visibleComponents
    }
  }
}
</script>

<style>
</style>
