<template>
  <section class="reviews">
    <h3 :class="this.headerClass">Отзывы</h3>
    <b-card v-for="review in reviews" v-bind:key="'review' + review.id">
      <b-media>
        <b-img
         slot="aside"
         :src="review.avatar"
         blank-color="#ccc" width="64" :alt="review.name" />
        <h5 class="mt-0">{{ review.name }}</h5>
        <p>
          {{ review.text }}
        </p>
      </b-media>
    </b-card>
  </section>
</template>

<script>
  export default {
    name: "BlockReviews",
    props: ['reviews', 'visible-block', 'comp-class'],
    data () {
      return {
        headerClass: '',
      }
    },
    watch: {
      visibleBlock (current, last) {
        if(current.includes(this.compClass)) {
          this.headerClass = 'font-header visible header-animation'
          let me = this;
        } else {
          this.headerClass = 'font-header'
        }
      }
    },
  }
</script>

<style media="screen" scoped>
.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #ececed;
}
.reviews h3 {
  text-align: center;
  margin: 10px 0;
  color: #7f87a0;
  visibility: hidden;
}
.reviews img {
  height: 100%;
}
</style>
