<template>
  <section class="regards">
    <h3 :class="this.headerClass">Повышение квалификации</h3>
    <div class="row slider-row">
      <div class="col-md-12">
        <b-carousel id="carousel1"
                :style=this.backgroundStyle
                controls
                indicators
                v-model="slide"
                img-width="600"
                img-height="230"
                :interval="0"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd"
        >
          <b-carousel-slide
           v-b-modal.modal-regard
           class="c-item"
           v-for="regard in regards"
           v-bind:key="'regard' + regard.id"
           @click="setImg(regard.image)">
            <img
            slot="img"
            class="d-block img-fluid"
            width="1024" height="480"
            :src="regard.image" :alt="regard.name"/>
             <!-- <div class="regard-caption">
               <span>{{ regard.date | moment("MM.DD.YY") }}</span>
               <h4>{{ regard.name }}</h4>
               <p>{{ regard.description }}</p>
             </div> -->
          </b-carousel-slide>
        </b-carousel>
      </div>
    </div>
    <b-modal
      size="lg"
      hide-footer
      id="modal-regard"
      class="container"
    ><img style="width: 100%;" :src="this.img"/></b-modal>
  </section>

</template>

<script>
  import firework from '~/assets/img/firework.jpg';
  export default {
    name: "BlockRegards",
    props: ['regards','visible-block', 'comp-class'],
    data () {
      return {
        slide: 0,
        sliding: null,
        backUrl: 'background: url(' + firework + '); ',
        backgroundStyle: '',
        posOffset: 0,
        headerClass: '',
        img: null
      }
    },
    watch: {
      visibleBlock (current, last) {
        if(current.includes(this.compClass)) {
          this.headerClass = 'font-header visible header-animation'
          if(this.$props.regards && !this.img) {
            this.img = this.$props.regards[0].image;
          }
          let me = this;
        } else {
          this.headerClass = 'font-header'
        }
      }
    },
    mounted () {
      if(this.$props.regards) {
        this.img = this.$props.regards[0].image;
      }
    },
    methods: {
      onSlideStart (slide) {
        this.sliding = true;
      },
      onSlideEnd (slide) {
        this.img = this.regards[slide].image
        this.sliding = false;
      },
      setImg (img) {
        this.img = img;
        console.log(this.img)
      }
    }
  }
</script>

<style media="screen" scoped>
  .regards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .slider-row {
  }
  .carousel-item {
    height: 425px!important;
  }
  .regards h3 {
    text-align: center;
    margin: 10px 0;
    color: #7f87a0;
    visibility: hidden;
  }
  .regard {
    background: rgba(0, 0, 0, 0.56);
    padding: 20px 0;
    border-radius: 0.2rem;
    border: 1px solid #afafaf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #313030;
  }
  .regard h4 {
    color: #ffffff;
  }
  .regard p {
    color: #d0d0d0;
  }
  .img-fluid {
    width: auto;
    margin: auto;
  }
  /*.regard-image {
    width: 200px;
    height: 300px;
    min-height: 300px;
    margin-right: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
  .carousel-inner {
      outline: none!important;
  }
  .regard-image img {
    /*width: 100%;*/
    height: auto;
  }
  .regard-caption {
    text-align: left;
    /* width: 200px; */
    background: #efefef;
    padding: 30px;
    filter: drop-shadow(3px 3px 6px #7b7b7b);
    color: #2d2d2d;
  }
  .regard-caption span {
    font-family: pt-italic;
    color: grey;
    font-size: 0.8rem;
  }
  @media screen and (max-width: 900px){
    .regard {
      flex-direction: column;
      padding: 0;
    }
    .regard-caption {
      width: 100%;
      padding: 5px;
    }
    .regard-image {
      width: 100%;
      margin-right: 0;
    }
    .regard-image img {
      width: 70%;
      margin-top: 22%;
    }
    .regard h4 {
      font-size: 1rem;
    }
  }
  @media screen and (min-width: 490px) and (max-width: 900px) {
    .regard-image img {
      width: 45%;
      margin-top: 12%;
    }
  }
</style>
