<template>
  <section class="main-description">
   <blockquote class="quote">
      <p :class="textClass" class="quote__text">"{{ quote }}"</p>
      <span>Олег Крупкин</span>
    </blockquote>
  <hr/>
    <article :class="textClass" class="description-text">
      <div v-html="text"></div>
    </article>
  </section>
</template>

<script>
  export default {
    name: "BlockDescription",
    props: ['text', 'quote', 'visible-block', 'comp-class'],
    data () {
      return {
        headerClass: '',
        textClass: '',
      }
    },
    watch: {
      visibleBlock (current, last) {
        if(current.includes(this.compClass)){
          this.headerClass = 'font-header visible header-animation'
          let me = this;
          setTimeout(function(){
            me.textClass = 'animation-from-left'
          }, 300);

        } else {
          this.headerClass = 'font-header'
          this.textClass = 'hidden'
        }
      }
    }
  }
</script>

<style media="screen" scoped>
  h3 {
    text-align: center;
    padding: 10px 0;
    color: #7f87a0;
    visibility: hidden;
  }
  .quote {
    position: relative;
    padding: 55px 76px 0 60px;
    font-family: pt-italic;
    font-size: 2rem;
    color: #414452;
    text-align: right;
  }
  .quote span {
    font-size: 19.2px;
    font-size: 1.1rem;
    font-family: pt-regular;
    padding-right: 59px;
    color: grey;
  }
  .main-description {
    background: #f7f7f7;
    background-size: 10% 10%;
  }
  .description-text {
    padding: 10px 50px 30px;
    font-size: 1.2em;
    line-height: 1.27;
    color: #505050;
  }
  .quote__sign {
    font-size: 5rem;
    color: rgba(95, 95, 95, .2);
    line-height: 0.1rem;
  }
  .quote__text {
    margin: 0;
  }
  @media screen and (max-width: 900px) {
    .quote {
      font-size: 1.3rem;
      padding-right: 30px;
    }
    .quote span {
      padding-right: 30px;
    }
  }
</style>
