<template>
  <section class="main-view" ref="mainView">
    <div class="backface">
      <MainToolbar/>
      <MainPromo :visible="this.visible"/>
    </div>
    <BlockServices v-bind:sections="this.sections"/>
    <CallSnippet call v-if="showCallSnippet" />
    <a v-if="showCallSnippet && isMobile" class="fixed-call-snippet" href="tel:+79180900280">
      <img src="~assets/icons/call.png" alt="" class="fixed-call-snippet__icon">
        <a class="phone-number">
          ПОЗВОНИТЬ
        </a>
    </a>
  </section>
</template>

<script>
import MainToolbar from "./head/MainToolbar";
import MainPromo from "./head/MainPromo";
import BlockServices from './main/BlockServices';
import CallSnippet from '../../callutils/CallSnippet';

  export default {
    name: "BlockMain",
    props: ['sections', 'visible-block', 'comp-class'],
    data () {
      return {
        showCallSnippet: false,
        visible: true,
      }
    },
    components: {
      MainToolbar,
      MainPromo,
      BlockServices,
      CallSnippet,
    },
    mounted () {
      window.addEventListener('scroll', this.checkForCallSnippetNeed);
      let me = this;
      setTimeout(function(){
        console.log('from main', me._props.services)
      }, 1000)

    },
    destroyed () {
      window.removeEventListener('scroll', this.checkForCallSnippetNeed);
    },
    watch: {
      visibleBlock (current, last) {
        if(current.includes(this.compClass)){
          this.visible = true;
        } else {
          this.visible = false;
        }
      }
    },
    computed: {
      isMobile () {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)
      }
    },
    methods: {
      checkForCallSnippetNeed (e) {
        const mv = this.$refs.mainView;
        const scrolled = window.pageYOffset || document.documentElement.scrollTop;
        this.$emit('scrollChanged', scrolled)
        if (window.scrollY > mv.clientHeight) {
          this.showCallSnippet = true;
        } else {
          this.showCallSnippet = false;
        }
      }
    }
  }
</script>

<style media="screen" scoped>
  .main-view {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .backface {
    background: url(~assets/img/oleg-krupkin.jpg);
    background-position: 136px -114px;
    background-size: 72%;
    background-repeat: no-repeat;
    background-color: #1b1c20;
  }
  .fixed-call-snippet {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999;
    background-color: #fffae0;
    font-size: 18px;
  }
  .fixed-call-snippet__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  @media screen and (max-width:900px) {
    .backface {
      background-position: center -20px;
      background-size: auto 100%;
    }
  }
</style>
