<template>
  <section class="lnews">
    <h3 v-if="showHeader != 'false'" :class="this.headerClass">Последние статьи</h3>
    <div class="latest-articles">
      <div class="row" v-for="(row, key) in rowedArticles" v-bind:key="'row' + key">
      <div class="col-md-4" v-for="article in row" v-bind:key="'article' + article.id">
        <nuxt-link :to="{name: 'articles-slug', params: {slug: article.slug}}">
          <b-card img-top
                  tag="article"
                  class="mb-2"
                  :class="cardClass">
            <div class="card-text">
              <figure class="news-image" :style="'background: url(' + article.image + ')'">
              </figure>
              <div class="news-header">
                  <h4>{{ article.headline }}</h4>
              </div>
              <span class="article-section">{{ article.sections | getSection }}</span>
              <span class="article-date">{{ article.public_date | moment("DD.MM.YYYY") }}</span>
              <div class="article-desc" v-html="cutDescription(article.content)"></div>
              <p v-if="showTags == 'true' && article.tags.length > 0"><nuxt-link
                  class="tag-link"
                  v-for="(tag, index) in article.tags"
                  :key="index"
                  :to="{name: 'articles-tag-tag', params: {tag: tag}}">
                  #{{tag}}&nbsp;
                </nuxt-link>
              </p>
            </div>

          </b-card>
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "BlockLatestNews",
    props: ['articles', 'visible-block', 'comp-class', 'show-tags', 'show-header', 'page'],
    data () {
      return {
        headerClass: '',
      }
    },
    computed: {
      rowedArticles () {
        if (!this.articles){return []}
        let res = []
        let inRow = 3;
        let iterator = 0;
        let divider = Math.floor(this.articles.length/inRow) || 1;
        if (this.articles.length/inRow > divider){
          divider += 1;
        }
        let iter = this.articles.length > 3 ? 3 : this.articles.length;
        for (let row = 0; row < divider; row++) {
          res.push([])
          for (let i = 0; i < iter; i++) {
            if(this.articles[i+iterator]){
              res[row].push(this.articles[i+iterator])
            }
          }
          iterator += inRow;
        }
        return res;
      },
      cardClass () {
        return this.page === 'articles'
        ? 'article-page'
        : ''
      }
    },
    watch: {
      visibleBlock (current, last) {
        if(current.includes(this.compClass)) {
          this.headerClass = 'font-header visible header-animation'
          let me = this;
        } else {
          this.headerClass = 'font-header'
        }
      }
    },
    mounted () {
      // console.log(this.articles)
    },
    methods: {
      cutDescription (text) {
        const size = 75;
        return text.length > size ? text.slice(0, size) +
          '...<span style="color:#007bff;">читать далее</span>'
          : text;
      }
    },
    filters: {
      getSection (section) {
        return section
        ? section
        : 'Новости'
      }
    }
  }
</script>

<style media="screen" scoped>
  .lnews a.tag-link {
    color: #007bff;
  }
  .tag-link:hover {
    text-decoration: underline;
  }
  .lnews {
    display: flex;
    flex-direction: column;
    background: white;
    padding-bottom: 40px;
  }
  .lnews h3 {
    text-align: center;
    margin: 10px 0 30px 0;
    color: #7f87a0;
    visibility: hidden;
  }
  .lnews a{
    text-decoration: none;
    color: #313030;
  }
  .card-body {
    min-height: 310px;
  }
  .news-image {
    height: 120px;
    width: 100%;
    left: 0;
    top: 0;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: absolute;
    border-radius: 3px 3px 0 0;
  }
  .latest-articles {
    width: 90%;
    margin: auto;
  }
  .article-date {
    color: grey;
    margin-right: 10px;
    display: block;
    text-align: right;
    font-size: 12px;
  }
  .article-section {
    font-size: 12px;
  }
  .news-header {
    margin-top: 110px;
    min-height: 140px;
  }
  .article-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #313030;
  }
  .article-caption h4 {
    color: #313030;
  }
  .article-image {
    width: 200px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .breadcrumbs a{
    color: #7f87a0;
  }
  .article-image img {
    width: 100%;
  }
  .article-caption {
    text-align: left;
    width: 200px;
    margin-right: 25px;
  }
  .article-caption span {
    font-family: pt-italic;
    color: grey;
    font-size: 0.8rem;
  }
  .article-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #424242;
  }
  .mb-2 {
    border: 1px solid #d0d0d0;
  }
  .mb-2:hover {
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
  }
  @media screen and (min-width: 1200px) {
    .card-body {
          min-height: 428px;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    .card-body {
      min-height: 451px;
    }
  }
  @media screen and (max-width: 1000px) {
    .card-body {
      min-height: 594px;
    }
    .news-header {
      min-height: 140px;
    }
  }
  @media screen and (max-width: 767px) {
    .card-body {
      min-height: auto;

    }
    .news-header {
      min-height: auto;
    }
  }
</style>
