<template lang="html">
    <b-modal
      id="modal1"
      title="Записаться на бесплатную консультацию"
      ok-title="Отправить"
      cancel-title="Отмена"
      class="container"
      size="sm"
      ref="modal"
    >

      <div class="row">
        <div class="col-md-12">
          <p style="color: grey;">Сообщение о том, что Вы хотите получить бесплатную консультацию придет Олегу Крупкину в Telegram-чат. Это позволит оперативно ответить на заявку.</p>
          <!-- <div class="input-field"> -->
            <!-- <label for="emailcallfield">E-mail:<span class="require-input">*</span></label><br/> -->
            <!-- <input
              class="modal-call-input"
              id="emailcallfield"
              type="email"
              v-model="email"
              placeholder="Сюда придет ответ"
            > -->
          <!-- </div> -->
        </div>
      </div>
      <span style='color: red;'>{{errormes}}</span>
      <div class="row">
        <div class="col-md-12">
          <div class="input-field">
            <label for="phonecallfield">№ телефона:<span class="require-input">*</span></label><br/>
            <input class="modal-call-input" id="phonecallfield"
              required
              type="text"
              v-mask="'+7(###)###-####'"
              v-model="phone"
              placeholder="+7(___)___-____"
          >
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="input-field">
            <label for="namecallfield">Имя:<span class="require-input">*</span></label><br/>
            <input
              required
              class="modal-call-input"
              id="namecallfield"
              type="text"
              v-model="name"
              placeholder="Как к Вам обратиться?"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-field">
            <label for="namecallfield">Населенный пункт:<span class="require-input">*</span></label><br/>
            <input
              required
              class="modal-call-input"
              id="namecityfield"
              type="text"
              v-model="city"
              placeholder="например, г. Геленджик"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div
           @click = "checkTelegram"
           class="input-field">  
            <b-form-checkbox id="checkbox1"
              v-model="wantchat"
              value="want"
              unchecked-value="dont-want">
              У меня установлен Telegram и я хочу получить ответ в чате
            </b-form-checkbox><br/>
          </div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="textarea-field" style="display: block">
            <label for="namecallfield">Ваш вопрос:<span class="require-input">*</span></label><br/>
            <textarea required id="textcallfield" rows="10" placeholder="Кратко опишите проблему" v-model="question"></textarea>
          </div>
        </div>
      </div> -->
      <b-alert
      :show="dismissCountDown"
       fade
       dismissible
       variant="success"
       @dismissed="dismissCountDown=0"
       @dismiss-count-down="countDownChanged">Ваше сообщение успешно отправлено!</b-alert>
      <div slot="modal-footer" class="w-100">
        <b-btn size="sm" class="float-left" variant="outline-success" @click="handleOk">
          Отправить
        </b-btn>
        <b-btn size="sm" class="float-right" variant="outline-danger" @click="hideModal">Закрыть</b-btn>
      </div>  
    </b-modal>
</template>

<script>
import {baseUrl, API} from '~/store/api'

export default {
  name: 'CallWindow',
  data () {
    return {
      // email: '',
      errormes: '',
      phone: '',
      name: '',
      wantchat: 'dont-want',
      question: '',
      city: '',
      dismissSecs: 5,
      dismissCountDown: 0
    }
  },
  methods: {
    handleOk (evt) {
      // Prevent modal from closing
      evt.preventDefault()
      if (!this.phone) {
        this.errormes = 'Введите номер телефона'
      } else if(!this.name) {
        this.errormes = 'Введите имя'
      } else if(!this.question) {
        this.errormes = 'Пожалуйста, опишите кратко свою проблему'
      } else if (!this.city) {
        this.errormes = 'Пожалуйста, укажите, откуда вы'
      } else {
        this.errormes = ''

        let me = this;
        API.post('articles/question/', JSON.stringify({
          name: this.name,
          phone: this.phone,
          wantchat: this.wantchat,
          city: this.city,
          question: this.question
        }))
        .then((res) => {
          me.showAlert()
        })
      }
    },
    hideModal () {
      this.$refs.modal.hide()
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    checkTelegram () {
      this.wantchat == 'want'
      ? this.wantchat = 'dont want'
      : this.wantchat = 'want';
    }
  }
}
</script>

<style lang="css" scoped>
label {
  margin: 0;
}
#checkbox1 {
  margin-top: 5px;
}
.modal-window {
  position: fixed;
  width: 400px;
  height: 400px;
  top: 200px;
  left: calc( 50% - 200px );
}
.input-field {
  text-align: left;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  display: inline-block;
}
.modal-call-input {
  width: 100%;
}
.require-input {
  color: red;
}
.textarea-field {
  margin-top: 10px;
  text-align: left;
}
#textcallfield {
  width: 100%;
}
</style>
