<template lang="html">
  <div v-if="isMobile" class="call-snippet">
    <span v-show="tooltip">Если у вас установлен Whatsapp, откроется диалог с юристом</span>
    <div class="call-snippet-block call-snippet-block--whatsapp">
      <a
       target="_blank"
       class="call-snippet-img call-snippet-img--whatsapp"
       href="https://wa.me/79180900280"
       @mouseover="showTooltip"
       @mouseleave="hideTooltip"
      >
      </a>
      <div class="call-snippet-img-back call-snippet-img-back--whatsapp">
      </div>
    </div>

    <p class="snippet-description snippet-description--whatsapp">Начать диалог в Whatsapp</p>
  </div>

  <div v-else class="call-snippet">
    <span v-show="tooltip">Задать вопрос Олегу Крупкину в Telegram</span>
    <div class="call-snippet-block">
      <div class="call-snippet-img" @click="toggleWindow" @mouseover="showTooltip" @mouseleave="hideTooltip">

      </div>
      <div class="call-snippet-img-back">
      </div>
    </div>

    <p class="snippet-description">Написать Олегу Крупкину <br/> в Telegram</p>
    <CallWindow ref="dialogModal" />
  </div>
</template>

<script>
import CallWindow from './CallWindow';
export default {
  name: 'CallSnippet',
  data () {
    return {
      tooltip: false
    }
  },
  computed: {
    isMobile () {
      return /Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)
    }
  },
  components: {
    CallWindow
  },
  methods: {
    showTooltip () {
      this.tooltip = true;
    },
    hideTooltip () {
      this.tooltip = false;
    },
    toggleWindow () {
      this.$refs.dialogModal.$children[0].show()
    }
  }
}
</script>

<style lang="css" scoped>
  @keyframes phone-toggle {
    from {transform: scale(.9, .9);}
    50% {transform: scale(1, 1)}
    to {transform: scale(1, 1)}
  }
  @keyframes phone-toggle2 {
    from {
      transform: scale(1, 1);
      opacity: .7;
    }
    to {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
  }
  .call-snippet {
    position: fixed;
    z-index: 2000;
    top: calc( 100% - 200px );
    right: 100px;
    text-align: center;
  }
  .snippet-description {
    border-radius: 10px;
    color: white;
    padding: 5px;
    background: #469bd7;
  }
  .call-snippet span {
    display: block;
    position: absolute;
    border: 1px solid #eaeaea;
    top: -58px;
    right: 44px;
    width: 200px;
    height: 50px;
    background: white;
    border-radius: 10px 10px 0 10px;
  }
  .call-snippet-img {
    position: absolute;
    margin: auto;
    background: url(~assets/icons/chat2.png) no-repeat;
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: contain;
    z-index: 20;
    animation: phone-toggle 2s infinite ease-in-out;
  }
  .call-snippet-img--whatsapp {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    background: url(~assets/icons/whatsapp.png) no-repeat;
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: contain;
    z-index: 20;
    animation: phone-toggle 2s infinite ease-in-out;
  }
  .call-snippet-block {
    position: relative;
    text-align: center;
    width: 70px;
    height: 70px;
    left: 60px;
    top: 10px;
  }
  .call-snippet-img-back {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #4598d5;
    animation: phone-toggle2 2s infinite ease-in-out;
    z-index: 10;
  }
  .call-snippet-img-back.call-snippet-img-back--whatsapp {
    background: #37a05a;
  }
  @media screen and (max-width: 900px) {
    .call-snippet {
      right: 20px;
    }
  }
  .snippet-description--whatsapp{
    background-color: rgb(83, 177, 83);
    border: 3px solid white;
  }
</style>
